@use "@/styles/variables" as *;

.home-header {
  background: #ffffff;
  color: #00695c;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  padding: 0 1.3rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1100;
  box-shadow: 0 16px 32px rgba(0,0,0,0.3);

  img {
    height: 36px;
    display:inline-block;
  }
}

.home-header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: $breakpoint-md) {
  .home-header-center { position: static; transform:none; margin-left: auto; }
}
