@use "@/styles/variables" as *;

.main-header {
  background: #ffffff;
  color: #00695c;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  padding: 0 1.3rem;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);

  img {
    height: 36px;
    display: inline-block;
  }
}

.main-header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;


}

@media (max-width: $breakpoint-md) {
  .main-header {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .main-header-center {
    position: static;
    transform: none;
    margin-left: auto;
  }

  .btn-text {
    display: none;
  }
}