.forgot-card {
  width: 50dvw;
  max-width: 500px;
  max-height: 1024px;
  text-align: center;
  gap: 1rem;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    border-radius: 0;
  }

  @media (max-width: 768px) {
    width: 100dvw;
  }
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

.info-text {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 0;
}