.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem;
  }
}